<mat-sidenav-container>
  <mat-sidenav
    class="employees-list-sidenav"
    [mode]="sidenavMode"
    [opened]="!isSmallScreen"
    [fixedInViewport]="true"
    #employeesSidenav
  >
    <mat-toolbar color="primary">Employees</mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let employee of employees$ | async; let i = index"
        [routerLink]=""
        routerLinkActive="active-employee"
        >{{ employee.employee_name }}</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="accent">Employee Details</mat-toolbar>
  <div class="employee-wrapper">Employee details</div>
</mat-sidenav-container>

<button class="add-employee-button" mat-mini-fab color="secondary" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>

<button
  *ngIf="isSmallScreen"
  class="sidenav-toggle"
  mat-mini-fab
  color="primary"
  [@growInOut]="'in'"
  (click)="employeesSidenav.toggle()"
>
  <mat-icon>view_list</mat-icon>
</button>
