<mat-sidenav-container>
  <mat-sidenav
    class="employees-list-sidenav"
    [mode]="sidenavMode"
    [opened]="!isSmallScreen"
    [fixedInViewport]="true"
    #employeesSidenav
  >
    <mat-toolbar color="primary">Employees</mat-toolbar>
    <app-search-box (searched)="search($event)"></app-search-box>
    <mat-spinner diameter="40" *ngIf="isLoadingList"></mat-spinner>
    <mat-nav-list>
      <ng-container *ngIf="employees$ | async as employees">
        <a
          mat-list-item
          *ngFor="let employee of filterEmplyees(employees, searchQuery)"
          (click)="selectEmployee(employee.id)"
          [ngClass]="{ 'active-employee': selectedEmployeeId === employee.id }"
          >{{ employee.employee_name }}</a
        >
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="accent">Employee Details</mat-toolbar>
  <div class="employee-wrapper">
    <app-employee-details-profile
      [employee]="selectedEmployee$ | async"
      [isLoading]="isLoadingDetails"
    ></app-employee-details-profile>
  </div>
</mat-sidenav-container>

<button class="add-employee-button" mat-mini-fab color="secondary" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>

<button *ngIf="isSmallScreen" class="sidenav-toggle" mat-mini-fab color="primary" (click)="employeesSidenav.toggle()">
  <mat-icon>view_list</mat-icon>
</button>
