.active-employee {
  background-color: #525252;
}
.employee-wrapper {
  padding: 0 16px;
  height: 90vh;
}

.employees-list-sidenav {
  width: 300px;
}

.add-employee-button {
  position: fixed;
  right: 20px;
  bottom: 10px;
  z-index: 4;
}
.sidenav-toggle {
  position: fixed;
  right: 20px;
  bottom: 60px;
  z-index: 4;
}
